/* ========== RESPONSIVO ========== */
@media (max-width: 768px){
    .inicio .txt-inicio h1{
        font-size: 36px;
    }
    .inicio .txt-inicio h1 span{
        font-size: 24px;
    }
    .sobre .txt-sobre{
        font-size: 18px;
        text-indent: 10px;
    }
    .comando{
        grid-template-columns: 1fr;
    }
    .perfil{
        flex-direction: column;
        align-items: center;
    }
}